#   Optimizing Euro Stoxx 50 Investments: A UCB Algorithm-Based Stock Selection Strategy with Correlation-Driven Hedging

Authors | **Okon Prince | Frackson Makwangwala | Elizabeth Ajabor**


---

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from numpy.random import seed
from numpy.random import rand
import yfinance as yf
import pandas as pd

# Euro Stoxx 50 Portfolio Optimization and Hedging Strategy

Welcome to the Euro Stoxx 50 Portfolio Optimization and Hedging Strategy project! In this notebook, we will explore an optimal investment strategy for the Euro Stoxx 50, a prominent European stock market index. Our goal is to use data analysis and quantitative techniques to make informed investment decisions and hedge our portfolio effectively.

## Project Overview

The Euro Stoxx 50 represents the performance of the top 50 blue-chip stocks from various Eurozone countries. Investing in such a diverse portfolio can be challenging, but by leveraging data-driven strategies, we aim to identify the most promising stocks for investment and use a robust hedging approach to manage risk.

## Key Steps in the Project

1. **Data Collection:** We will start by collecting historical stock price data for the Euro Stoxx 50 components. This data will serve as the foundation for our analysis.

2. **Portfolio Selection:** Using the UCB (Upper Confidence Bound) algorithm, we will identify the five optimum stocks for trading. These stocks will form the core of our portfolio.

3. **Correlation Analysis:** To minimize risk, we will conduct a correlation analysis of the remaining stocks in the Euro Stoxx 50. This analysis will help us identify the least correlated stock to our portfolio.

4. **Hedging Strategy:** With the least correlated stock identified, we will develop a hedging strategy to protect our portfolio against market fluctuations.

5. **Performance Evaluation:** We will assess the performance of our portfolio and hedging strategy, considering factors such as returns, risk, and volatility.

## Why This Project Matters

In today's dynamic financial markets, making informed investment decisions is crucial. This project combines data analysis and quantitative methods to optimize your investment strategy. Whether you're a seasoned investor or just starting in the world of finance, the insights gained from this project can be valuable for your investment journey.

## Getting Started

To get started, make sure you have the necessary libraries installed, and follow along with the code and explanations provided in the notebook.

In [5]:
import yfinance as yf
import pandas as pd

# Define the ticker symbols for the companies
ticker_symbols = [
    "ADS.DE", "ADYEN.AS", "AD.AS", "AI.PA", "AIR.PA", "ALV.DE", "ABI.BR", "ASML.AS", "AXA.PA", "BBVA.MC",
    "BAS.DE", "BAYN.DE", "BMW.DE", "BNP.PA", "BN.PA", "DB1.DE", "DTE.DE", "DPW.DE", "ENEL.MI", "ENI.MI",
    "EL.PA", "RACE.MI", "FLTR.L", "RMS.PA", "IBE.MC", "ITX.MC", "IFX.DE", "INGA.AS", "ISP.MI", "KER.PA",
    "OR.PA", "MC.PA", "DAI.DE", "MUV2.DE", "NOKIA.HE", "NDA.SE", "RI.PA", "PRX.AS", "SAF.PA", "SGO.PA",
    "SAN.PA", "SAN.MC", "SAP.DE", "SU.PA", "SIE.DE", "STLA.MI", "TTE.PA", "DG.PA", "UCG.MI", "VOW3.DE"
]

# Define the date range
start_date = "2023-06-01"
end_date = "2023-10-31"

# Create an empty DataFrame to store the combined data
combined_data = pd.DataFrame()

# Fetch historical data for each stock
for stock_symbol in ticker_symbols:
    stock_data = yf.download(stock_symbol, start=start_date, end=end_date)
    combined_data[stock_symbol] = stock_data['Adj Close']

# Print the first few rows of the combined data
print(combined_data.head())

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['AXA.PA']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['DPW.DE']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['DAI.DE']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['NDA.SE']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['STLA.MI']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
                ADS.DE     ADYEN.AS      AD.AS       AI.PA      AIR.PA  \
Date
2023-06-02  159.520004  1582.000000  28.895082  159.380005  128.380005
2023-06-05  158.300003  1580.199951  29.087027  158.240005  126.720001
2023-06-06  159.679993  1584.400024  29.072262  157.779999  127.440002
2023-06-07  159.259995  1595.000000  28.968908  156.899994  126.440002
2023-06-08  159.020004  1583.000000  28.988594  156.699997  126.540001

                ALV.DE     ABI.BR     ASML.AS  AXA.PA   BBVA.MC  ...  \
Date                                                             ...
2023-06-02  210.149994  50.910000  671.373657     NaN  6.354721  ...
2023-06-05  209.949997  50.910000  671.970825     NaN  6.329264  ...
2023-06-06  210.500000  51.150002  665.999512     NaN  6.342972  ...
2023-06-07  208.850006  51.660000  664.705750     NaN  6.352763  ...
2023-06-08  208.899994  50.860001  659.530640     NaN  6.448720  ...

               SAN.PA    SAN.MC      SAP.DE       SU.PA      SIE.DE  STLA.MI  \
Date
2023-06-02  94.980003  3.137158  124.360001  165.619995  159.279999      NaN
2023-06-05  95.330002  3.110771  123.080002  164.000000  158.520004      NaN
2023-06-06  96.370003  3.136181  123.400002  164.160004  158.360001      NaN
2023-06-07  94.949997  3.138135  123.500000  163.820007  158.460007      NaN
2023-06-08  95.440002  3.153772  123.599998  163.979996  158.759995      NaN

               TTE.PA       DG.PA     UCG.MI     VOW3.DE
Date
2023-06-02  53.773163  107.580002  18.858000  121.540001
2023-06-05  53.451572  106.940002  18.417999  122.540001
2023-06-06  52.954575  106.959999  18.700001  124.040001
2023-06-07  53.393105  107.680000  18.482000  124.339996
2023-06-08  53.626987  107.220001  18.658001  125.760002

[5 rows x 50 columns]

In [6]:
combined_data.head()

,ADS.DE,ADYEN.AS,AD.AS,AI.PA,AIR.PA,ALV.DE,ABI.BR,ASML.AS,AXA.PA,BBVA.MC,...,SAN.PA,SAN.MC,SAP.DE,SU.PA,SIE.DE,STLA.MI,TTE.PA,DG.PA,UCG.MI,VOW3.DE
Date,,,,,,,,,,,,,,,,,,,,,
2023-06-02,159.520004,1582.000000,28.895082,159.380005,128.380005,210.149994,50.910000,671.373657,NaN,6.354721,...,94.980003,3.137158,124.360001,165.619995,159.279999,NaN,53.773163,107.580002,18.858000,121.540001
2023-06-05,158.300003,1580.199951,29.087027,158.240005,126.720001,209.949997,50.910000,671.970825,NaN,6.329264,...,95.330002,3.110771,123.080002,164.000000,158.520004,NaN,53.451572,106.940002,18.417999,122.540001
2023-06-06,159.679993,1584.400024,29.072262,157.779999,127.440002,210.500000,51.150002,665.999512,NaN,6.342972,...,96.370003,3.136181,123.400002,164.160004,158.360001,NaN,52.954575,106.959999,18.700001,124.040001
2023-06-07,159.259995,1595.000000,28.968908,156.899994,126.440002,208.850006,51.660000,664.705750,NaN,6.352763,...,94.949997,3.138135,123.500000,163.820007,158.460007,NaN,53.393105,107.680000,18.482000,124.339996
2023-06-08,159.020004,1583.000000,28.988594,156.699997,126.540001,208.899994,50.860001,659.530640,NaN,6.448720,...,95.440002,3.153772,123.599998,163.979996,158.759995,NaN,53.626987,107.220001,18.658001,125.760002